
@{
    ViewBag.Title = "Home";
}


<div class="Home-page">
    <form action="" method="post">
       <h2>Welcome to Accountant Dashboard</h2>
       <ul>
           <li> <a href="/Accountant/Profile">Accountant List</a> </li>
           <li> <a href="/Accountant/HotelBooking">Check Hotel Booking Request</a> </li>
           <li> <a href="/Accountant/VehicleBooking">Check Vehicle Booking Request</a> </li>
           <li> <a href="/Accountant/Report">Report here</a> </li>
           <li> <a href="/Accountant/Inq">Anything to ask?</a> </li>
           <li> <a href="/Accountant/InqIndex">Inquiry History</a> </li>
           <li><a href="/Accountant/Logout">Logout</a> </li>

       </ul>
</div>

