<h2>Contact</h2>
<address>
    EASY TRAVELS<br />
    44/52,BARIDHARA,DHAKA<br />
    <abbr title="Phone">P:</abbr>
    16548
</address>

<address>
    <strong>Support: HOTLINE-- 156985</strong>
    <strong>ACCOUNTS: 01598986666 </strong>
</address>