
@{
    ViewBag.Title = "AdminHome";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

<style>
    * {
        background-color: rgb(199, 219, 219);
    }

    .SBoyyy {
        font-family: "Audiowide", sans-serif;
        /*font-size: 100%;*/
        font-style: italic;
        font-weight: bolder;
        color: rgb(20, 11, 29);
    }

    a :hover {
        color: green;
    }

    h1:hover {
        color: green;
    }
</style>
</head>
<h3 class="font-effect-neon SBoyyy">Welcome to Admin Home</h3>
<table border="0">
    <tr>
        <td colspan="4" align="center" height=150px width=350px>

            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/AdminReg">Add New Admin</a>
        </td>
        <td>

            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/AccountantReg">Add New Accountant</a>
        </td>
        <td>

            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/AdminList">Check Admin Info</a>
        </td>
    </tr>
    </table>
<table border="0">
    <tr>
        <td colspan="5" align="center" height=150px width=350px>
            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/AccountantList">Check Accountant Info</a>

        </td>
        <td>
            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/TouristList">Check Tourist Info</a>

        </td>
        <td>
            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/HotelList">Check HotelList Info</a>

        </td>
        <td>
            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/TransportList">Check Transport company Info</a>

        </td>
    </tr>
    </table>
<table border="0">
    <tr>
        <td colspan="3" align="center" height=150px width=350px>
            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/InqList">Check Inquires</a>
        </td>
        <td>
            <a class="font-effect-neon SBoyyy" style="color: blueviolet" href="~/Admin/ReportList">Check Reports</a>
        </td>
    </tr>
</table>
<div class="Home-page">
    <ul>
        <li><a href="~/Admin/AdminReg">Add New Admin</a><br></li>
        <li><a href="~/Admin/AccountantReg">Add New Accountant</a><br></li>
        <li><a href="~/Admin/AdminList">Check Admin Info</a><br></li>
        <li><a href="~/Admin/AccountantList">Check Accountant Info</a><br></li>

        <li><a href="~/Admin/TouristList">Tourist Info</a><br></li>
        <li><a href="~/Admin/HotelList">Hotel Info</a><br></li>
        <li><a href="~/Admin/TransportList">Transport Company Info</a><br></li>



        <li><a href="~/Admin/InqList">Inquiries From Users</a><br>
        <li><a href="~/Admin/ReportList">Reports</a><br>
      
    </ul>

</div>