
@{
    ViewBag.Title = "Home";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Home.css" />
</head>

<body>

    <div class="Home-page">

        <form action="" method="post">
            <h1>Welcome To Our HomePage</h1>
            <ul>
                <li><a class="btn btn-primary" href="~/Hotel/RoomList">Add New Room</a><br></li>
                <li><a class="btn btn-primary" href="~/Hotel/Index">View My Offer</a><br></li>
                <li><a class="btn btn-primary" href="~/Hotel/Inq">Inquiries</a><br></li>
                <li><a class="btn btn-primary" href="~/Hotel/Report"> Report Issue</a><br>
                <li><a class="btn btn-primary" href="~/Hotel/BookedHotel">View Hotel Bookings</a><br>

                <li><a class="btn btn-primary" href="/Hotel/Logout">LOG OUT</a><br></li>
            </ul>
        </form>
    </div>
</body>

</html>